---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flutter Icon Browser">
	<div class="h-screen flex flex-col items-center justify-center">
		<img class="w-4/5 xl:w-3/5" src="app-screenshot-1.png" />
		<h1
			class="text-4xl lg:text-9xl dark:text-white font-bold font-unbounded"
		>
			The Missing
		</h1>
		<h3
			class="text-lg lg:text-3xl dark:text-white font-bold font-unbounded pb-32"
		>
			Flutter Icon Browser
		</h3>
	</div>
	<div
		class="h-screen p-12 bg-indigo-950 dark:bg-indigo-300 flex flex-col items-center justify-center"
	>
		<img class="w-4/5 xl:w-3/5" src="app-screenshot-search.png" />
		<h1
			class="text-4xl lg:text-9xl text-white dark:text-black font-bold font-unbounded"
		>
			Search
		</h1>
	</div>
	<div class="h-screen p-12 flex flex-col items-center justify-center">
		<img class="w-4/5 xl:w-3/5" src="app-screenshot-code.png" />
		<h1
			class="text-4xl lg:text-9xl dark:text-white font-bold font-unbounded"
		>
			Code Snippets
		</h1>
	</div>
</Layout>
