<footer
    class="flex flex-row justify-between bg-indigo-950 dark:bg-indigo-300 text-indigo-300 dark:text-indigo-950 font-unbounded p-2"
>
    <div>Chandram Dutta © 2023</div>
    <div>Built using Astro</div>
</footer>
