<header class="p-4 flex flex-row justify-between">
    <h1 class="text-xl md:text-3xl dark:text-white font-bold font-unbounded">
        Flutter Icon Browser
    </h1>
    <a
        href="https://github.com/Chandram-Dutta/flutter_icon_browser/releases"
        target="_blank"
        rel="noopener noreferrer"
        ><button
            class="transition ease-in-out delay-50 duration-300 hover:scale-110 hover:dark:bg-indigo-950 hover:bg-indigo-300 hover:dark:text-indigo-300 hover:text-indigo-950 bg-indigo-950 dark:bg-indigo-300 rounded-xl text-indigo-300 dark:text-indigo-950 font-unbounded p-2"
            >Download</button
        ></a
    >
</header>
